[[source]]
name = "PyPI"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
black = "*"

[packages]

[requires]
python_version = "3.11"

[scripts]
test = "pytest . -vv"
